header, footer {
    background-image: url(https://cdn.pixabay.com/photo/2018/05/08/10/17/dandelion-3382663_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.tileset {
    display: grid; grid-template-columns: repeat(5, 1fr); gap: 10px; width: 300px; margin: 20px auto;
}

.tile {
    border: 1px solid #ccc; padding: 20px; text-align: center; color:#aaa5a5; line-height: 20px;
}

.shop a {
    text-decoration: none;
}

.player {
    height: 20px;
}

.number {
    color: transparent;
}

.typewriter {
    display: inline-block; /* Makes the div take the width of its content */
}

.typewriter p{
    overflow: hidden; /* hide the text initially */
    white-space: nowrap; /* Prevent text wrapping */
    border-right: 2px solid black; /* Cursor effect */
    font-size: 1.5rem;
    animation: typing 4s steps(30, end)/*  Makes the typing effect last 14 seconds, revealing the text in "steps" (character-by-character). 14s: The total duration of the animation. number(130) represents number of steps (or "frames") the animation will take to complete. end: animation will complete each step at the end of the interval, so each character will appear one after another, with no overlap. */, blink 0.75s step-end infinite; 
}

/* Simulates the text being typed by progressively revealing more of it. */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

/* Creates a blinking cursor effect at the end of the text. */
@keyframes blink {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}